headersOrigin = "config"
plugins = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/apple/roof-worktree-designing-tool/roof-measurement-deploy"
publishOrigin = "config"
base = "/Users/apple/roof-worktree-designing-tool/roof-measurement-deploy"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "SAMEORIGIN"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"
Content-Security-Policy = "default-src 'self' 'unsafe-inline' 'unsafe-eval' https://api.leadconnectorhq.com https://link.msgsndr.com https://images.unsplash.com https://fonts.googleapis.com https://fonts.gstatic.com https://maps.googleapis.com https://maps.gstatic.com https://*.googleapis.com; frame-src https://api.leadconnectorhq.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://maps.googleapis.com;"

[[headers]]
for = "*.html"

[headers.values]
Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
for = "*.js"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
for = "*.css"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"